/* *************      NAV BAR STYLES     ************** */

.navContainer {
    background-color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar_Logo {
    width: 80px;
    height: 60px;
}

.navbar_Logo img {
    width: 100%;
    height: 100%;
}

.navbar_item {
    font-size: 15px;
    font-weight: 700;
}

/* *************      MAIN PAGE STYLES     ************** */

.mainPage {
    background-image: url('./Images/LuLuWatermark.png');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 20% 0;
}

.mainPage_bg {
    width: 800px;
    height: 70vh;
}

.mainPage_bg img {
    width: 100%;
    height: 100%;
}

.pageList {
    display: flex;
    padding: 20px 0;
}

.pageList li {
    list-style: none;
    padding-right: 40px;
}

.pageList li a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    color: #000;
}

.homeSize {
    height: 70vh;
}


/* ***************     Footer     ***************** */

.footerContiner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.policyList ul {
    display: flex;
    justify-content: space-between;
}

.policyList ul li {
    list-style: none;
    font-size: 15px;
    font-weight: 400;
    color: gray;
    padding: 0 20px;
}

.socialLinks {
    display: flex;
    align-items: center;
}

.socialLinks ion-icon {
    width: 30px;
    height: 30px;
    padding: 8px;
}

.footerLogo {
    width: 200px;
    height: 80px;
}

.footerLogo img {
    width: 100%;
    height: 100%;
}

/* *************     Page Container       *************** */

.container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 70px;
}

@media screen and (max-width: 768px) {
    .footerContiner {
        display: flex;
        flex-direction: column;
    }
    .policyList ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .spaceAdjuster {
        display: none;
    }
    .container {
        flex-direction: column;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 425px) {
    .pageList {
        justify-content: space-between;
    }
    .pageList li {
        padding-right: 0px;
    }
    .pageList li a {
        font-size: 20px;
    }

    .homeSize {
        height: 35vh;
    }
    .pageList li a {
        font-size: 18px;
    }
}