* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgba(218, 216, 216, 0.702);
}

.baseContainer {
  width: 90%;
  margin: 0 auto;
}